<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> Hi ! </h1>
        <h1>Hi yavar</h1>
        <h1>I got a fevar</h1>
        <h1> Why </h1>
        <h1> I need your cover </h1>
        <h1> Make me lover </h1>
        <h1> Are u ready for the shower</h1>
          <a href="{% url 'yavaar'%}"><h2>response of yavaar</h2></a> 

    </center>
</body>
</html>